/*barre du haut */

.navigation {
  /* fixed keyword is fine too */
  position: sticky;
  font-family: "Roboto Slab";
  top: 0;
  z-index: 100;
  font-size: 15pt;
  display: block;
  /* couleur du fond du menu de haut de page*/
  background-color: #232323;
  /* z-index works pretty much like a layer:
  the higher the z-index value, the greater
  it will allow the navigation tag to stay on top
  of other tags */
}

.navlogo {
  margin-right: 70px;
  margin-left: 10px;
}

.navlogo1 {
  font-size:15pt;
  margin-right:100px;
  color:#eee
}

.navlogo0 {
  font-size:10pt;
  color:#eee
}

.brand {
margin-left:100px;
}

/* styles du header */

header {
  margin: 0 0 27px;
  padding: 0 0 24px;
  border-bottom: 3px solid #eee;
}

.site-branding {
  clear: both;
  margin-top:10px;
  margin-bottom: 14px;
  text-align: center;
}

.site-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  z-index: 2;
  display: inline-block;
  clear: none;
  margin: 0;}
.site-title a {
  text-decoration: none;
/*couleur du titre au-dessus de la ciation */
  color: rgb(0, 0, 0);
  font-family:Libre Caslon Text
}

.site-description {
/* coulour de la citation en haut de page */
  color: #999;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  margin: 7px auto;
  text-align: center;
  font-size: 20px;
}

.main-navigation {
  font-size: .8125em;
  line-height: 2.09231em;
  text-align: center;
  margin-right:390px
}

.menu-toggle {
  margin: 0 auto;
  position: relative;
  padding: 5px 7px;
  border: 1px solid #eee;
}

.menu-toggle svg {
  width: 16px;
  margin-right: 4px;
  height: auto;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

body, button, input, select, textarea {
  font-family: Georgia,'Bitstream Charter',serif;
  font-size: 16px;
  font-weight: 400;
  color: #404040;
}

#menu-icon {
  fill: #999;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, th {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}

.main-navigation ul:first-child {
  display: block;
}

.main-navigation ul {
  clear: both;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.main-navigation ul li {
  display: inline-block;
}


.main-navigation li {
  position: relative;
  display: block;
}

.main-navigation ul a {
  padding: 7px 9px;
  border-bottom: 0;
}
/* couleur des boutons du menu de haut de page*/
.main-navigation a, .main-navigation a:visited {
  display: block;
  padding: 14px 0 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #eee;
}

.main-navigation ul:first-child > li:last-of-type a {
  border-bottom: 0;
}


/* styles du corps de l'article */

.titrearticle {

  color: brown;
  font-size: 30pt;

  margin-top: 20px;
  margin-left: 390px;
  margin-right: auto;
  
  padding-top: 0px;
  padding-right: 150px;
  padding-left: 108px;
  padding-bottom: 10px;
}

.titrepartie {

  font-size: 25pt;
  padding-top: 15px;
  padding-bottom: 10px
}

.corps {
  font-family: "Roboto Slab";
  width: 900px;
  margin-left: 390px;
  margin-right: auto;
  font-size: 13pt;
  line-height: 1.6em;
  background-color: white;
  

  margin-bottom: 0px;
  
  padding-top: 0px;
  padding-right: 150px;
  padding-bottom: 54px;
  padding-left: 108px;
}

.vers {
  text-align: center;
}


/* styles du bas de page (footer) */

.bg-grey {
  background: #292929;
}
.logo-footer {
  margin-bottom: 40px;
}

footer {
      color: grey;
}

footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
           color: grey;
        
          text-decoration: none;
          border: 1px solid;
          border-radius: 43px;
          font-size: 13px;
          padding: 7px 30px;
          line-height: 47px;
}
.btn-footer:hover {
          
          text-decoration: none;
         
}
.form-footer input[type="text"] {
  border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
  margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}

.trash {
  font-size: 15pt;
  font-family: 'Playfair Display', serif;
}

/* Credit to https://bootsnipp.com/snippets/M56El  */    
